body{
  background-color:yellow;
  }
.header{
  margin:10px;
  background-color:#CCCC00;
  height:60px;
  text-align:center;
  line-height:40px;
  }
#r{
  width:100px;
  height:100px;
  float:left;
  display:block;
  }
