body{
  background-color:#00bfff;
  border-color:black;
  margin:10px;
}
#head{
  background-color:#4682b4;
  margin:10px;
  height:100px;
  border-radius:10px;
  text-align:center;
  font-size:150%;
  text-decoration:underline;
  line-height:100px;
}
#i{
  width:100px;
  height:100px;
  display:block;
  float:left;
}
#a{
  float:left;
  border-radius:30px;
  box-shadow:3px 3px 2px black;
  margin:8px;
}
