body{
  background-color:#b5ffff;
}
.header{
  background-color:#fca5f1;
  height:100px;
  margin:10px;
  color:white;
  line-height:100px; 
  text-align:center;
}
#t{
  display:block;
  float:left;
}
 ul{
  list-style:none;
  color:red;
  margin:10px;
  border-top:dashed black;
}
ul li a{
  text-decoration:none;
  color:red;
}
ul li{
  float:left;
  display:block;
  width:100px;
  font-size:180%;
  text-align:center;
  margin-left:90px;
  background-color:#cccc00;
}
ul li:hover{
  background-color:#ADFF2F;
  color:black;
}
ul li ul li{
  list-style:none;
  text-decoration:none;
  width:100px;
  display:block;
  margin:0px;
  font-size:100%;
  margin-top:10px;
  display:none;
  margin-left:0px;
}
ul li ul li a:hover{
  background-color:#cccc00;
  color:white;
}
ul li:hover ul li{
  display:block;
}
#i{
  display:block;
  margin-left:auto;
  margin-right:auto;
}
div p{
  font-size:400%;
  margin:10px;
  text-shadow:2px 2px 1px red;
}
#icon{
  width:50px;
  height:50px;
  display:inline;
  margin-left:auto;
  margin-right:auto;
  margin:20px;
}
#v{
  text-align:center;
}
#i{
  border-radius:30px;
}
